<input type="button" (click)="openModal()" value="Add Facilitator" class="btn btn-primary">

<p-table [value]="FacilitatorList" [paginator]="true" [rows]="2" sortMode="multiple" [globalFilterFields]="['FacilitatorName','Salary']" #dt>
  <ng-template pTemplate="caption" >
    <h3 class="text-center text-primary font-weight-bold" style="text-decoration: underline;" >Facilitator</h3>
    <div style="text-align: right">
        <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
       <input type="text" pInputText size="50" placeholder="Search" style="width:auto" (input)="dt.filterGlobal($event.target.value, 'contains')">
    </div>
</ng-template>

  <ng-template pTemplate="header" >
    
<tr>
  <th>Facilitator Name</th>
  <th>Facilitator Salary</th>
  <th>Is Facilitator Booked</th>
  <th class="">Action</th>
</tr>
  </ng-template>
  <ng-template pTemplate="body" let-FacilitatorList >
    <tr>    
      <td>{{FacilitatorList.FacilitatorName}} </td>
      <td>{{FacilitatorList.Salary}} </td>
      <td>{{FacilitatorList.IsBooked? 'Yes':'No'}}</td>
  <td>
    <input type="button" (click)="EditFacilitator(FacilitatorList.Id,FacilitatorList.FacilitatorName,FacilitatorList.Salary)" value="Edit" class="btn btn-outline-primary w-25" name="" id=""> |
    <input type="button" value="Delete" (click)="DeleteFacilitator(FacilitatorList.Id)" class="btn btn-outline-danger w-25 " name="" id="">
</tr>
  </ng-template>
  
</p-table>

    
    <div *ngIf="IsAdd" class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title ">Add Facilitator</h5>
          <button type="button" (click)="closeModal()" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         <label for="" class="text-primary"><b>Facilitator Name:</b></label>  <input type="text" [(ngModel)]="FacilitatorName" class="form-control" placeholder="Enter Name">
         <label for=""  class="text-primary"><b>Facilitator Salary</b> </label> <input type="text" [(ngModel)]="Salary" class="form-control" placeholder="Enter Salary">
        </div>
        <div class="modal-footer">
          <button type="button" (click)="AddFacilitator()" class="btn btn-primary">Save changes</button>
          <button type="button" (click)="closeModal()" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>

    <div *ngIf="Isedit" class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header bg-primary text-white">
            <h5 class="modal-title ">Edit Facilitator</h5>
            <button type="button" (click)="closeModal()" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
           <label for="" class="text-primary"><b>Facilitator Name:</b></label>  <input type="text" [(ngModel)]="FacilitatorName" class="form-control" placeholder="Enter Name">
           <label for=""  class="text-primary"><b>Facilitator Salary</b> </label> <input type="text" [(ngModel)]="Salary" class="form-control" placeholder="Enter Salary">
          </div>
          <div class="modal-footer">
            <button type="button" (click)="UpdateFacilitator()" class="btn btn-primary">Save changes</button>
            <button type="button" (click)="closeModal()" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>

<router-outlet></router-outlet>